@charset "utf-8";
// @import "normalize";
@import "monokai";
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro');


$off-brand: #FDD0D2;
$brand: #A8383B;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;  
}

pre {
  font-family: 'Source Code Pro', monospace;
}

header {
  background-color: $brand;
  color: $off-brand;
  margin-bottom: 3rem;
  padding: 3rem;
}

h2 {
  color: $brand;
}
