$selection-color: #66c1ff;
$bg-color: #e2e2e2;
$orangeish: #f6756f;
$grey: #333;
$code-bg: rgba(255, 255, 255, .3);
$white: #fff;


$dark-purple: #0f0e20;
$purple-contrast: #aaa4cc;
$purple-bold-shapes: #5156ac;
