@charset 'utf-8';
// @import "normalize";
@import 'monokai';
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro');

$off-brand: #fff;
$brand: #f6756f;
$darker: #2A2A2A;

@mixin fade-links {
  a {
    color: $brand;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: color .75s;
  }

  a:hover {
    color: $darker;
    text-decoration: none;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  line-height: 2rem;
  padding: 2rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link-bar {
  @include fade-links;
  font-size: 1rem;
}

.tag-bar {
  @include fade-links;
  list-style: none;
}

header {
  background-color: $brand;
  color: $off-brand;
  margin-bottom: 4rem;
  padding: 5rem;
}

// .article-title {
// }

h1 {
  font-size: 4rem;
}

h2 {
  color: $brand;
}

.timestamp { 
  color: $darker; 
  font-size: 1rem;
}
